/* 1. Defina a família de fontes padrão como sans-serif. */
/* 2. Evitar que o tamanho do texto do iOS seja ajustado após a mudança de orientação, sem desabilitar zoom do usuário. */
/*––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
/*html {
  font-family: sans-serif;
  /* 1 * /
  -ms-text-size-adjust: 100%;
  /* 2 * /
  - webkit-text-size-adjust: 100%;
  /* 2 * / } */
  
@font-face{
  font-family: "gilroy-bold";
  src: url("../_fonts/gilroy-bold.ttf");

  font-family: "gilroy-heavy";
  src: url("../_fonts/gilroy-heavy.ttf");

  font-family: "gilroy-light";
  src: url("../_fonts/gilroy-light.ttf");

  font-family: "gilroy-medium";
  src: url("../_fonts/gilroy-medium.ttf");

  font-family: "gilroy-regular";
  src: url("../_fonts/gilroy-regular.ttf");
}

.gilroy-bold{
  font-family: "gilroy-bold";
}

.gilroy-heavy{
  font-family: "gilroy-heavy";
}

.gilroy-light{
  font-family: "gilroy-light";
}

.gilroy-medium{
  font-family: "gilroy-medium";
}

.gilroy-regular{
  font-family: "gilroy-regular";
}


/* HTML5 display definitions */
/* Corrigir a exibição `block` não definida para nenhum elemento HTML5 no IE 8/9. */
/* Corrigir a exibição de `block` não definida para` details` ou `summary` no IE 10/11 e Firefox. */
/* Corrigir o bloco `display` não definido para o` main` no IE 11. */
/*––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }


/* 1. Correta a exibição `inline-block` não definida no IE 8/9. */
/* 2. Normalize o alinhamento vertical do `progresso` no Chrome, Firefox e Opera. */
/*––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/* Remove margem padrão */
/*––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
body {
  margin: 0; }



/* Consultas de mídia */
/*––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
.content {
  position: relative;
  background: white;
  margin-bottom: 400px;
  overflow: hidden; }
  
.content article {
  padding: 100px 0;
  max-width: 640px;
  margin: 0 auto;
  text-align: center; }


hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #E1E1E1; 
}

/*Inicio Efeito Imagens Equipe - Page Equipe*/
/*––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
.project {

  float: left;
  margin-right: 5%;
}

.project__image {
  display: block;
  position: relative;
}

.project__image img {
  width: 100%;
  max-width: 100%;
  display: block;
}

.project__image:after {
  content: " ";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4));
  transition: opacity .3s ease;
  opacity: 0;
}

.project__card {
  position: relative;
  will-change: transform;
  transition: box-shadow .3s ease;
  box-shadow: 0 10px 30px transparent;
}

.project__card.hover-in {
  transition: -webkit-transform .2s ease-out;
  transition: transform .2s ease-out;
  transition: transform .2s ease-out, -webkit-transform .2s ease-out;
}

.project__card.hover-out {
  transition: -webkit-transform .2s ease-in;
  transition: transform .2s ease-in;
  transition: transform .2s ease-in, -webkit-transform .2s ease-in;
}

.project:hover .project__card { 
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4); 
}

.project:hover .project__image:after { 
    opacity: 1; 
}

.project:hover .project__detail {
  border-width: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}

.project:hover .project__title, .project:hover .project__category, .project:hover .project__subcategory {
  -webkit-transform: translateY(0) scale(1);
  -ms-transform: translateY(0) scale(1);
  transform: translateY(0) scale(1);
  opacity: 1;
}

.project__detail {
  position: absolute;
  left: 30px;
  right: 30px;
  top: 30px;
  bottom: 30px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  pointer-events: none;
  -webkit-transform: translateZ(30px);
  transform: translateZ(30px);
  border: 0 solid #F58220;
  transition: border .4s ease;
}

.project__title {
  margin: 0 0 10px;
  font-size: 26px;
  font-weight: 700;
  transition: .4s ease;
  opacity: 0;
  -webkit-transform: translateY(40px) scale(0);
  -ms-transform: translateY(40px) scale(0);
  transform: translateY(40px) scale(0);
  will-change: transform;
}

.project__title a { 
  color: white;
  text-decoration: none;
}

.project__category {
  opacity: 0;
  transition: .4s ease;
  transition-delay: .2s;
  -webkit-transform: translateY(40px) scale(0);
  -ms-transform: translateY(40px) scale(0);
  transform: translateY(40px) scale(0);
  will-change: transform;
}

.project__category a {
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  text-decoration: none;
}

.project__subcategory {
  opacity: 0;
  transition: .5s ease;
  transition-delay: .2s;
  -webkit-transform: translateY(40px) scale(0);
  -ms-transform: translateY(40px) scale(0);
  transform: translateY(40px) scale(0);
  will-change: transform;
}

.project__subcategory a {
  color: rgba(255, 255, 255, 0.8);
  font-size: 12px;
  text-decoration: none;
}
/*Fim Efeito Imagens Equipe - Page Equipe*/



