body {
    background-color: white;
}




.clothes-pics {
 
    width: 100%;
    min-height: 331px;
    margin-top: 100px;
    margin-bottom: 280px;
    text-align: center;
}

.clothes-pics figure {
    opacity: 0;
    transform: translateX(30px);
    transition: all 0.4s ease-in-out;
}

.clothes-pics figure.is-showing {
    opacity: 1;
    transform: translateX(0px); 
}




.content1 article {

    max-width: 70%;
    margin: 0 auto;
    text-align: center; 
    margin-bottom: 350px;
}

hr {
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
    border-width: 0;
    border-top: 2px solid #F58220; 
    color: #F58220;
    text-align: center;
}




.container2 {

    width: 1115px;
    min-height: 500px;
    margin: 0 auto;
    margin-bottom: 350px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
}

.container2 .box {
    position: relative;
    width: 258px;
    height: 258px;
    background-color: #ff0;
    margin: 10px;
    box-sizing: border-box;
    display: inline-block;
}

.container2 .box .imgBox {
    position: relative;
    overflow: hidden;
}

.container2 .box .imgBox img {
    max-width: 100%;
    transition: transform 2s;
}

.container2 .box:hover .imgBox img {
    transform: scale(1.2);
}

.container2 .box .details {
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    background: rgba(0,0,0,.7);
    transform: scaleY(0);
    transition: transform .5s;
}

.container2 .box:hover .details {
    transform: scaleY(1);
}

.container2 .box .details .content2 {
    position: absolute;
    top: 50%;
    transform: translateY(-55%);
    text-align: center;
    padding: 5px;
    color: #fff;
}

.container2 .box .details .content2 h1 {

    font-size: 24px;
    color: #F58220;
}

.container2 .box .details .content2 h2 {
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: #F49751;
}

.container2 .box .details .content2 p {
    margin: 10px 0 0;
    padding: 0;
    font-size: 14px;
    color: #fff;
}