@font-face{
    font-family: "gilroy-light";
    src: url("../_fonts/gilroy-light.ttf");
}

@font-face{
    font-family: "gilroy-regular";
    src: url("../_fonts/gilroy-regular.ttf");
}

@font-face{
    font-family: "gilroy-medium";
    src: url("../_fonts/gilroy-medium.ttf");
}

@font-face{
    font-family: "gilroy-bold";
    src: url("../_fonts/gilroy-bold.ttf");
}

@font-face{
    font-family: "gilroy-heavy";
    src: url("../_fonts/gilroy-heavy.ttf");
}

.gilroy-light { 
    font-family: "gilroy-light";
}

.gilroy-regular { 
    font-family: "gilroy-regular";
}

.gilroy-medium { 
    font-family: "gilroy-medium";
}

.gilroy-bold { 
    font-family: "gilroy-bold";
}

.gilroy-heavy { 
    font-family: "gilroy-heavy";
}


body, html{
	margin:0;
	padding: 0;
	width: 100vw;
	overflow-x:hidden;
}

.header a {
  position: relative;
  color: #000000;
  text-decoration: none;  
}

.header a:before {
  content: "";
  position: absolute;
  width: 20%;
  height: 4px;
  bottom: 0;
  left: 13px;
  background-color: #FF8000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  top: 60px;
}

.header a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}



a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}


.zoom {
  overflow: hidden;
  display: block;
  width: 100%;

}

.zoom img {
  max-width: 120%;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  float: right;
  margin-top: 40px;
  position: relative;
  width: 610px;
  height: 484px;
}

.zoom:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}


#titleadv6 .orange{
	background: orange;
	height: 20px;
	width: 80px;
	position: relative;
	left: -130px;
	top:120px;
}
#titleadv6{
font-size: 40px;
margin-left: 40px;
padding-left: 80px;
}
#logo{
  padding-left: 20px;
  padding-bottom: 0px;
  padding-top: 15px;

}

#texto1{
  padding-left: 100px;
  top: -80px;
}
#texto2{
  font-size: 15px;
  padding-left: 100px;
}
.header{
  margin: 0;
  padding: 0;
}
nav{
  width: 100%;
}
ul{
  margin: 5px 5px 5px 10px;
  padding: 0px;
  padding-bottom: 40px;
  list-style: none;
}
li{
  float: right;
}
.logo img{
  position: absolute;
  margin-top: 15px;
  margin-left: 60px;
}
nav a{
  width: 100px;
  display: block;
  padding: 20px 15px;
  text-decoration: none;
}
/*Start of gracrys*/
.container{
  display:flex;

  margin: 0 0vw;
  align-items: stretch;
  width: 86%;
  position: relative;
  top: -152px;
  color: white;
  
}
.container article{
  flex-grow:1;
   background: linear-gradient(
      rgba(253, 106, 2, 0.6), 
      rgba(253, 106, 2, 0.6)
    ), url(../_imagens/bgs/img1-1.jpg);
  padding: 20px;
  opacity: 0.8;
  transition: opacity 0.5 ease;

}
.container2{
  flex-grow:1;
  display: flex;
}

.container2 article:nth-of-type(1){
  /* align-self: flex-end; */
  background: linear-gradient(
      rgba(0, 0, 0, 0.7), 
      rgba(0, 0, 0, 0.7)
    ), url(../_imagens/bgs/img2.jpg);
  background-size: cover;
opacity: 0.8;
  transition: all 0.5 ease;
}

.container2 article:nth-of-type(2){
 
  background: linear-gradient(
      rgba(255, 101, 0, 0.7), 
      rgba(255, 101, 0, 0.7)
    ), url(../_imagens/bgs/img3-1.jpg);
  background-size: cover;
  
  opacity: 0.8;
  transition: opacity 0.5 ease;
}

 /*.container2 article:hover, .container2:hover, 
#article1:hover, .container{
	
  opacity: 1;

}*/
.hover{
	opacity:1;
}

#article1{
  margin-left: 0px;
  text-align: center;
  margin-top: -80px;
  width: 177%;
}

#article2{
  background-color: #333333;
  font-color: white;
  text-align: center;
  width: 80%;
  height: 110%;
}

#article3{
text-align: center;
margin-right: -200px;
margin-top: -130px;
position: right;
}

.container3{
  flex-grow:1;
  display: flex;
  height: 200px;

}
.container3 .orange{
	background: orange;
	height: 20px;
	width: 80px;
	position: relative;
	left: -40px;
	top: -20px;

}

.arrow-down{
	width: 80px;
	position: relative;
	top: 80px;
}
.arrow-top{
	width: 80px;
	position: relative;
	top: 130px;
	left: 420px;
}
.arrow{
	width: 80px;
	position: relative;

}

#article4{
  background: linear-gradient(
      rgba(0, 0, 0, 0.7), 
      rgba(0, 0, 0, 0.7)
    ), url(../_imagens/bgs/img4-3.jpg);
  background-size: 100% 140%;
  font-color: white;
  text-align: center;
  width: 58%;
  height: 150%;
  margin-top: -90px;
  padding: 10px;
  color: white;
  //transition: all 0.5s ease;
  padding: 40px 20px 20px 20px;
  opacity: 0.8;
}

#article4:hover{
	
	opacity: 1;

}

/*#### Map and Footer ####*/
.divider{
	margin-bottom: 140px;
}
.map{
	height: 500px;
	width: 100vw;
	background-color: #f1f1f1;
}
.map iframe{
	width: 100%;
}
.bottom-menu{
	display: flex;
	flex-flow: column nowrap;
	
	justify-content: center;
	background: #f1f1f1;
	
}
.bottom-menu nav {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
}
.bottom-menu > nav:nth-of-type(1) a{
	padding: 0 30px;
}
.bottom-menu > nav:nth-of-type(2) a{
	padding: 20px 0;
}
.bottom-menu nav{
	display: flex;
}
.bottom-menu nav img{
	width: 40px;
}


/* ## Footer ## */
footer{
	height: 200px;
}
footer{
	background: url(../_imagens/bgs/footer.png) no-repeat;
	background-size:100%;
}

@media (max-width: 800px) {
  .header nav {
    display: none;
  }
.container{
	flex-wrap: wrap;
}
.container2{
	flex-wrap: wrap;
}
.container2 #article3{
	display: none;
}
.container3 div{
	display: none;
}
#article4{
	flex:1; 
}
}
@media (max-width: 925px) {
  #texto1{
  	display: none;
  }

}