@font-face{
  font-family: "gilroy-bold";
  src: url("../_fonts/gilroy-bold.ttf");
}

.gilroy-bold{
  font-family: "gilroy-bold";
}

#menu_container{
  width: 100%;
  height: 50px;
}

#menu{
  width: 999px;
  height: 50px;
  line-height: 50px;
  margin:0 auto 0 auto;
  position: right;
}

#menu ul{
  font-family: helvetica;
  margin: auto;
  list-style-type: none;
  font-size: 18px;
}

#menu ul li{
  float: right;
  position: relative;
}

#menu ul li a{
  text-decoration: none;
  float: right;
  display: block;
  width: auto;
  line-height: 50px;
  padding-right: 10px;
  padding-left: 10px;
}

#menu ul li a:hover {

}
a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #FF8C00;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.zoom {
  overflow: hidden;
}

.zoom img {
  max-width: 100%;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  float: right;
  margin-top: 20px;
}

.zoom:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

